<ion-content>
        <ion-grid>
                <ion-row>
                        <ion-col size="12">
                                <div class="logo">
                                        <img src="assets/img/igeo-logo.svg" alt="">
                                </div>
                        </ion-col>
                        <ion-col size="12">
                                <zxing-scanner
                                        #scanner
                                        [formats]="allowedFormats"
                                        (scanError)="scanError($event)"
                                        (scanComplete)="scanComplete($event)"
                                        (camerasFound)="camerasFoundHandler($event)"
                                        (scanSuccess)="scanSuccess($event)"
                                        (deviceChange)="dvChange($event)">
                                </zxing-scanner>
                        </ion-col>
                </ion-row>
        </ion-grid>


        <ion-button (click)="modal.dismiss()" expand="block" size="large">Cerrar Scanner</ion-button>

</ion-content>
