<ion-header translucent no-border>
  <ion-toolbar text-center>
    <ion-title><img src="../../assets/img/igeo-logo-w.png" alt=""></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen padding>

  <div class="cont-app">
    <ion-card color="light" class="card-igeo">
      <ion-card-header>
        <ion-card-title>
          <h2>Acceso Usuarios</h2>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="form">
          <div class="cont-input">
            <ion-label position="stacked" class="label-igeo">Usuario</ion-label>
            <ion-input type="text" autofocus="" class="ion-padding-start" placeholder="Ingresar nombre de usuario"></ion-input>
          </div>

          <div class="cont-input">
            <ion-label position="stacked" class="label-igeo">Contraseña</ion-label>
            <ion-input type="password" class="ion-padding-start" placeholder="Ingresar Contraseña"></ion-input>
          </div>
        </div>

        <ion-button expand="block" (click)="login()" shape="round" color="success" size="large">
          Ingresar a Igeo
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
