<ion-header translucent no-border>
  <ion-toolbar text-center>
    <ion-title><img src="../../assets/img/igeo-logo-w.png" alt=""></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding fullscreen>
  <div class="cont-app">
    <ion-card color="light" class="card-igeo" *ngIf="data">
      <img src="../../assets/img/edificio.jpg" alt="">
      <ion-card-header>
        <ion-card-title>
          Nombre Edificio
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <!--Datos Estructurales-->
        <h2>Datos Estructurales</h2>
        <div class="datos">
          <div class="linea-datos">
            <ion-label>
              <strong>Sup. Terreno Total</strong>
            </ion-label>
            <ion-note>{{data.estructurales.terreno}}</ion-note>
          </div>

          <div class="linea-datos">
            <ion-label>
              <strong>Sup. Construida Total</strong>
            </ion-label>
            <ion-note>{{data.estructurales.coinstruida}}</ion-note>
          </div>

          <div class="linea-datos">
            <ion-label>
              <strong>Sup. Total</strong>
            </ion-label>
            <ion-note>{{data.estructurales.total}}</ion-note>
          </div>
        </div>

        <h2>Datos Genéricos</h2>

        <div class="datos">
          <div class="linea-datos">
            <ion-label>
              <strong>Campus</strong>
            </ion-label>
            <ion-note>Andrés Bello</ion-note>
          </div>
          <div class="linea-datos">
            <ion-label>
              <strong>Organismos</strong>
            </ion-label>
            <ion-note>Servicios Centrales - Economía - Arquitectura</ion-note>
          </div>
        </div>

        <ion-button expand="block" (click)="solicitud()" shape="round" color="success" size="large">
          Ingreso De Solicitud
        </ion-button>
      </ion-card-content>
    </ion-card>

    <!--  <ion-grid *ngIf="data">
        <ion-row>
          <ion-col>
            <h1>
              NOMBRE DEL LUGAR
            </h1>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col >
            <ion-list>
              <ion-list-header>
               - Datos Estructurales
              </ion-list-header>
              <ion-item lines="none">
                <ion-label>Sup. Terreno Total</ion-label>
                <ion-note slot="end" color="dark">{{data.estructurales.terreno}}</ion-note>
              </ion-item>
              <ion-item lines="none">
                <ion-label>Sup. Construida Total</ion-label>
                <ion-note slot="end" color="dark">{{data.estructurales.coinstruida}}</ion-note>
              </ion-item>
              <ion-item>
                <ion-label>Sup. Total</ion-label>
                <ion-note slot="end" color="dark">{{data.estructurales.total}}</ion-note>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-list>
              <ion-list-header>
                - Datos Genericos
              </ion-list-header>
              <ion-item lines="none">
                <ion-list>
                  <ion-list-header>
                    Campus
                  </ion-list-header>
                  <ion-item lines="none">
                    {{data.campus}}
                  </ion-item>
                </ion-list>
              </ion-item>
              <ion-item lines="none">
                <ion-list>
                  <ion-list-header>
                    Organismo
                  </ion-list-header>
                  <ion-item lines="none">
                    {{data.organismo}}
                  </ion-item>
                </ion-list>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-footer text-center *ngIf="data">
        <ion-button expand="block" (click)="solicitud()">
          Ingreso De Solicitud
        </ion-button>
      </ion-footer>-->

    <ion-card color="light" *ngIf="!data" class="card-igeo">
      <ion-card-header>
        <ion-card-title text-center>
          <ion-icon name="close-circle-outline" color="danger" style="font-size: 60px;"></ion-icon>
          <h2 class="error-title">
            Error al leer QR
          </h2>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content text-center>
        <ion-button expand="block" href="/home" shape="round" fill="outline" size="large">
          Volver
        </ion-button>
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>
