<ion-header translucent no-border>
  <ion-toolbar text-center>
    <ion-title><img src="../../assets/img/igeo-logo-w.png" alt=""></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen padding>
  <div class="cont-app">

    <ion-card class="card-igeo" color="light">
      <ion-card-header text-center>
        <ion-icon name="checkmark-circle" color="success" style="font-size:100px"></ion-icon>
      </ion-card-header>
      <ion-card-content>
        <h3 text-center text-lowercase>¡Muchas Gracias! <br>Su solicitud ha sido enviada. </h3>
        <ion-button expand="block" (click)="solicitud()" shape="round" fill="outline" size="large" margin-bottom color="success">
          Enviar Nueva Solicitud
        </ion-button>
        <ion-button expand="block" (click)="scan()" shape="round" size="large">
          Escanear Otro QR
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
