/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


h1, h2, h3, h4 {
    text-transform: uppercase;
    font-weight: 100;
}

ion-content{
    //--background: rgb(240,90,41);
    // --background: linear-gradient(90deg, rgba(240,90,41,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    // background-image: url('/assets/img/bg.jpg');
    --background: rgb(240,90,41);
    --background: linear-gradient(0deg, rgba(240,90,41,1) 0%, rgba(253,187,45,1) 100%);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

ion-button{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 12px;
}

.logo{
    width: 100%;
    text-align: center;
}

.card-igeo {
    border-radius: 24px;
    h3{
        margin-bottom: 6rem;
        font-size: 1.4rem;
        color: #0ec254;
    }
    ion-input, ion-textarea, ion-select {
        border: 1px solid #DDD;
    }
    ion-item {
        padding-left: 0 !important;
    }
}

.datos {
    margin-bottom: 1rem;
    .linea-datos {
        display: flex;
        justify-content: space-between;
        padding: .5rem 0;
        border-bottom: 1px solid #DDD;
    }
    ion-note {
        color: #F05A29;
        text-align: right;
    }
}

ion-toolbar {
    padding-top: 1rem !important;
    --background: #fcb32d;
    --ion-color-base: transparent !important;
    img{
        width: 100px;
    }
}

.cont-app {
    max-width: 600px;
    margin: 0 auto;
}

ion-footer {
    ion-button {
        margin-bottom: 1rem;
    }
    ion-toolbar {
        padding: .5rem;
    }
}

/*Inputs*/
.cont-input {
    margin-bottom: 1rem;
    ion-label {
        font-weight: 700;
        color: #999;
    }
    ion-input, ion-textarea, ion-select {
        border-radius: 20px;
        padding: .5rem;
        margin-top: .5rem;
    }
    .label-igeo{
        margin-bottom: 1rem !important;
    }
}
.form{
    margin-bottom: 2rem;
}

.error-title{
    color: var(--ion-color-igeo);
    text-transform: none;
    font-weight: 700;
    margin-bottom: 4rem;
}
