<ion-header translucent no-border>
  <ion-toolbar text-center>
    <ion-title><img src="../../assets/img/igeo-logo-w.png" alt=""></ion-title>
  </ion-toolbar>
</ion-header>


<ion-content fullscreen padding>
  <div class="cont-app">
    <ion-card color="light" class="card-igeo">
      <img src="../../assets/img/edificio.jpg" alt="">
      <ion-card-header>
        <ion-card-subtitle>010201001001335</ion-card-subtitle>
        <ion-card-title>
          Nombre Edificio
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="form">
          <div class="cont-input">
            <ion-label position="stacked" class="label-igeo">Tipo de solicitud</ion-label>
            <ion-select>
              <ion-select-option value="1" selected>Opción 1</ion-select-option>
              <ion-select-option value="2">Opción 2</ion-select-option>
              <ion-select-option value="3">Opción 3</ion-select-option>
            </ion-select>
          </div>

          <div class="cont-input">
            <ion-label position="stacked" class="label-igeo">Detalle de solicitud</ion-label>
            <ion-textarea placeholder="Escriba el detalle de la solicitud"></ion-textarea>
          </div>
        </div>

        <ion-button expand="block" (click)="send()" shape="round" color="success" size="large" margin-bottom>
          Enviar Solicitud
        </ion-button>
        <ion-button expand="block" [routerLink]="['/home']" shape="round" size="large">
          Escanear Otro QR
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
